.banner {
  background-image: url("https://res.cloudinary.com/dm4wfkipp/image/upload/v1677278946/fondo-indio_bbavnx.jpg");
  height: 314px;
  filter: brightness(0.9 );
}

.banner h5 {
  background-color: transparent;
  color: #ffffff;
  padding-top: 50px;
  font-size: 18px;
}

.banner h4 {
  background-color: transparent;
  color: #ffffff;
}

.letras-banner {
  background-color: transparent;
  color: #000;
  font-size: 50px;
  padding-top: 5px;
  text-decoration: underline;
  font-family: montserrat;
}

h3 {
  background-color: transparent;
  color: #000;
  font-size: 80px;
  font-family: futura;
}

.b {
  background-color: transparent;
  color: #ffffff;
  font-family: futura;
  
}
