.button-group {
  margin: 140px;
}



.buttonLink {
  width: 398px;
  height: 147px;
  border-radius: 20px;
  background: rgb(212, 37, 91);
  background: radial-gradient(
    circle,
    rgba(212, 37, 91, 1) 45%,
    rgba(252, 70, 107, 1) 88%
  );
  filter: brightness(0.5);
}
