* {
  background-color: #f1eded;
}

h1 {
  font-family: montserrat, sans-serif;
  color: #000;
  font-size: x-large;
}

b {
  color: #707070;
}

.container-button {
  margin-left: 140px;
  margin-right: 140px;
}

.bannerPublicidad {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
