* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ededed;
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
  color: #707070;
}

a:hover {
  color: rgb(182, 14, 105);
}

.root {
  min-height: 100vh;
}
h1 {
  font-family: montserrat, sans-serif;
  color: #000;
  font-size: x-large;
}

b {
  color: #707070;
}

.container-button {
  margin-left: 140px;
  margin-right: 140px;
}

.bannerPublicidad {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.margin-auto {
  margin: auto;
}

.colorAcent {
  color: rgb(182, 14, 105);
}

section {
  min-height: 515px;
  margin-top: 220px;
}
